<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="object" style="height:250px">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4"><label for="emails">Список e-mail через запятую для уведомлений</label></div>
    <!-- <div class="ui-grid-col-8"><textarea pInputTextarea id="aka" [(ngModel)]="object.CalcEmail"></textarea></div> -->
    <div class="ui-grid-col-8"><textarea pInputTextarea id="emails"></textarea></div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4"><label for="percent1">Процент для начисления бонусов покупателю</label></div>
    <!-- <div class="ui-grid-col-8"><textarea pInputTextarea id="aka" [(ngModel)]="object.Str1"></textarea></div> -->
    <div class="ui-grid-col-8"><textarea pInputTextarea id="percent1">5</textarea></div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4"><label for="percent2">Процент для начисления бонусов привлекшему  покупателя</label></div>
    <!-- <div class="ui-grid-col-8"><textarea pInputTextarea id="aka" [(ngModel)]="object.Str2"></textarea></div> -->
    <div class="ui-grid-col-8"><textarea pInputTextarea id="percent2">3</textarea></div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4"><label for="percent3">Процент для начисления бонусов привлекшему привлекшего покупателя</label></div>
    <!-- <div class="ui-grid-col-8"><textarea pInputTextarea id="aka" [(ngModel)]="object.Str3"></textarea></div> -->
    <div class="ui-grid-col-8"><textarea pInputTextarea id="percent3">2</textarea></div>
  </div>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
  <button type="button" pButton icon="fa fa-fw fa-check" (click)="save()" label="Сохранить"></button>
</div>
<!-- <p-growl [value]="errors"></p-growl> -->
