<p-toolbar>
  <div class="ui-g">
    <div class="ui-g-2 ui-md-2">
      <div style="width:2em;height:2em"><img src="assets/layout/images/logo_ya.png" alt="Logo"></div>
    </div>
    <div class="ui-g-10 ui-md-10" style="text-align: right;">
        <div class="ui-g-12 ui-md-12">
          <a href="tel:+74212620828" style="font-weight: bold; font-size: 1.4em;">+7 (4212) 62-08-28</a>
          <br>
          <span>email: <a href="mailto:hello@progrepublic.ru">hello@progrepublic.ru</a></span>
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-help-request></app-help-request>
        </div>
    </div>
  </div>
</p-toolbar>
