<p-panel header="БАЛАНС" [toggleable]="true">
  <div class="card" style="text-align: center; margin-bottom: 10px">
    <div class="ui-g">
      <div class="ui-g-12">
        <span style="font-size: 2em; font-weight: bold; color: black;">{{ balance }}</span>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12" style="font-size: 1.2em;  margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;">
        <span>за неделю</span>
      </div>
    </div>
    <div class="ui-g" style="font-weight: bold; font-size: 1.6em;">
      <div class="ui-g-6" style="margin-top: 0; padding-top: 2px;">
        <span style="color: blue">{{ plusPoints }}</span>
      </div>
      <div class="ui-g-6" style="margin-top: 0; padding-top: 2px;">
        <span style="color: red">{{ minusPoints }}</span>
      </div>
    </div>
    <p-accordion>
      <p-accordionTab header="подробнее">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dignissimos ullam nisi cum accusantium sequi laborum
          animi nesciunt non, explicabo commodi suscipit eveniet? Aliquam veritatis incidunt excepturi accusamus dicta! Nobis.</p>
      </p-accordionTab>
    </p-accordion>
  </div>
</p-panel>
