<p-toolbar>
    <div class="ui-toolbar-group-left">
        <i class="fa fa-th-large fa-2x"></i>
        <span style="font-family: Verdana; font-weight: bold; font-size: 2em;"> BONUS CLUB</span>
    </div>
    
    <p-messages [value]="errors"></p-messages>

    <div class="ui-toolbar-group-right">
        <span >
            Справка по тел. +7 (4212) 62-08-28, E-mail: hello@progrepublic.ru
        </span>
        <br/>
        <button type="text" pButton label="Задать вопрос" (click)="ophelp.toggle($event)" style="float: right;"></button>
    </div>
</p-toolbar>

<div *ngIf="!isAuth">
        <br/>
    Чтобы посмотреть сколько у вас накопленных балов, введите номер телефона и код из полученного SMS
    <br/>
    Номер вашего телефона:
    <p-inputMask [(ngModel)]="userTel" mask="(999) 999-9999"></p-inputMask>
    <button pButton type="text" icon="fa fa-envelope-o" label="Получить SMS с кодом"  (click)="genSms()"></button>
    <br/>
    Код из SMS:
    <p-inputMask [(ngModel)]="authCode" mask="9999" (onComplete)="doLogin()"></p-inputMask>
</div>
<p-accordion *ngIf="isAuth">
    <p-accordionTab *ngFor="let shop of shops" [header]="shop.aka">
        Последние операции:
        <div *ngFor="let detail of shop.details">
            {{detail}}<br/>
        </div>
    </p-accordionTab>
</p-accordion>


<br/>     

<p-overlayPanel #ophelp>   
    Задать вопрос:
    <textarea pInputTextarea [(ngModel)]="messageForSupport" style="width:100%"></textarea>
    Ваш контакт:
    <input type="text" pInputText [(ngModel)]="userTel" style="width:100%" />

    <button pButton type="text" icon="fa fa-envelope-o" label="Отправить сообщение" style="width:100%" (click)="sendToSupport()"></button>
</p-overlayPanel>

<p-dataList [value]="news" [paginator]="true" [rows]="5">
    <p-header>
        Новости, информация, реклама
    </p-header>
    <template let-car let-i="index" pTemplate="item">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
                
                 <div [innerHTML]="news[i].HtmlString"> </div>
                
            </div>
        </div>
    </template>
</p-dataList>
       
    