<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <h2>Активная клиентская база</h2>
      <p-fieldset legend="Критерии отбора" [toggleable]="true" [collapsed]="true">
          <div class="ui-g">
            <div class="ui-g-3">
              <div class="ui-g">
                <div class="ui-g-12">
                  <label for="date">Зарегистрировался</label>
                </div>
                <div class="ui-g-12">
                  <p-calendar dateFormat="dd.mm.yy"  [(ngModel)]="beginRegDate"  [locale]="ru" dataType="string" (onSelect)="refreshParticipantsListByFilter()" (onBlur)="refreshParticipantsListByFilter()" [showIcon]="true" showButtonBar="true"></p-calendar>
                </div>
                <div class="ui-g-12">
                  <p-calendar dateFormat="dd.mm.yy"  [(ngModel)]="endRegDate" showButtonBar="true" [locale]="ru" dataType="string" (onSelect)="refreshParticipantsListByFilter()" (onBlur)="refreshParticipantsListByFilter()" [showIcon]="true" showButtonBar="true"></p-calendar>
                </div>
              </div>
            </div>
            <div class="ui-g-3">
              <div class="ui-g">
                <div class="ui-g-12">
                  <label for="date">Кол-во бонусов</label>
                </div>
                <div class="ui-g-12">
                    <p-spinner size="10" [(ngModel)]="beginBonusSum" [min]="0" (onChange)="refreshParticipantsListByFilter()"></p-spinner>
                </div>
                <div class="ui-g-12">
                    <p-spinner size="10" [(ngModel)]="endBonusSum" [min]="0" (onChange)="refreshParticipantsListByFilter()"></p-spinner>
                </div>
              </div>
            </div> 
            <div class="ui-g-3"> 
              <div class="ui-g">
                <div class="ui-g-12">
                  <p-checkbox [(ngModel)]="withOnePurchase" binary="true" label="С одной покупкой" (onChange)="refreshParticipantsListByFilter()"></p-checkbox>
                </div>
                <div class="ui-g-12"> 
                    <label for="abcGroup">Группа ABC</label>
                    <p-dropdown id="abcGroup" [options]="abcGroupOptions" [(ngModel)]="abcGroup" (onChange)="refreshParticipantsListByFilter()"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
      </p-fieldset>
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Быстрый поиск">
      </div>
      <p-dataTable
        selectionMode="single"
        [(selection)]="selectedLine"
        [responsive]="true"
        [value]="participantsList"
        [paginator]="true"
        [rows]="maxRowsPerPage"
        (onRowDblclick)="onRowDoubleClick()"
        [loading]="loading"
        loadingIcon="fa-spinner"
        [globalFilter]="gb"
        sortMode="multiple">
        <p-column field="name" header="Имя/Телефон" [sortable]="true"></p-column>
        <p-column field="age" header="Возраст" [sortable]="true"></p-column>
        <p-column field="balance" header="Бонусы" [sortable]="true" [style]="{'text-align':'right'}"></p-column>
        <p-column field="guestLevel" header="Ранг"></p-column>
        <p-column field="abcGroup" header="Группа ABC"></p-column>
        <p-column field="comment" header="Коментарий"></p-column>
        
        <p-footer>
          <div class="ui-g">
            <div class="ui-g-6">
              <button pButton
                label="Редактировать данные участника"
                (click)="onRowDoubleClick()"
                [disabled]="!selectedLine"
                type="button"
                icon="fa-pencil"
                style="float:left">
              </button>
              <button pButton
                label="Добавить участника"
                (click)="openNewParticipantForm()"
                type="button"
                icon="fa-plus"
                style="float: right">
              </button>
            </div>
            <!--
            <div class="ui-g-6">
              <input #gb type="text" pInputText size="50" placeholder="значение фильтра..." style="float: right">
              <i class="fa fa-filter" style="margin: 10px 10px 0 0; float: right"></i>
            </div>
          -->
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>
</div>
