<div class="ui-g">
  <div class="ui-g-12">
    <p-growl [value]="errors" [life]="6000"></p-growl>
    <p-messages [value]="msgs"></p-messages>

    <p-dataTable
      selectionMode="single"
      [responsive]="true"
      [value]="participantsList"
      [paginator]="true"
      [rows]="maxRowsPerPage"
      [(selection)]="selectedLine"
      (onRowDblclick)="onRowDoubleClick($event)"
      [globalFilter]="gb">
      <p-header>Участники бонусной программы</p-header>
      <p-column field="phone" header="Номер" [sortable]="true"></p-column>
      <p-column field="Name" header="Имя" [sortable]="true"></p-column>
      <p-column field="Comment" header="Коментарий"></p-column>
      <p-column field="Bonus" header="Бонусы" [sortable]="true" [style]="{'text-align':'right'}"></p-column>
      <p-footer>
        <div class="ui-g">
          <div class="ui-g-6">
            <button pButton
              type="button"
              icon="fa-plus"
              style="float:left"
              (click)="showDialogToAdd()"
              label="Создать">
            </button>
          </div>
          <div class="ui-g-6">
            <i class="fa fa-filter" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="значение фильтра...">
          </div>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</div>


<p-dialog [(visible)]="displayDialog" [responsive]="true"
  showEffect="fade" [modal]="true" minWidth=400>
  <p-header>
    {{ participantToEditIsNew ? 'Новый участник' : 'Участник' }}
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="participantToEdit">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="phone">Телефон</label></div>
      <div class="ui-grid-col-8"><input pInputText id="phone" [(ngModel)]="participantToEdit.phone" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Имя</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="participantToEdit.Name" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="referrer">Кто привлек</label></div>
      <div class="ui-grid-col-8"><input pInputText id="referrer" [(ngModel)]="participantToEdit.referrer" /></div>
    </div>
    <div class="ui-grid-row">
      <textarea pInputTextarea class="ui-grid-col-12" [(ngModel)]="participantToEdit.Comment" placeholder="Комментарий">
      </textarea>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="fa-check" (click)="save()" label="Сохранить">
      </button>
      <button pButton type="button" icon="fa-close" class="ui-button-secondary" (click)="cancel()" label="Отмена">
      </button>
      <button *ngIf="!participantToEditIsNew" pButton type="button" icon="fa-trash" class="ui-button-warning" (click)="delete()"
        label="Удалить">
      </button>
    </div>
  </p-footer>
</p-dialog>
