<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-helper-clearfix" style="width:100%;">
        <button pButton type="button" icon="fa-chevron-left" (click)="back()" label="Назад" style="float: left; margin: 18px 20px 18px 16px"></button>
        <h2>Участник <span style="font-weight: bold; margin-left: 18px">{{ participantEditor.phone }}</span></h2>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <div class="ui-g">
            <div class="ui-g-12">
              <label for="date">Дата регистрации</label>
              <p-inputMask id="date"  mask="99.99.9999" [(ngModel)]="participantEditor.date" placeholder="дата"></p-inputMask>
            </div>
            <div class="ui-g-12">
              <span>Текущий баланс: </span><br>
              <span style="font-size: 1.5em; font-weight: bold">{{ participantEditor.balance }}</span>
            </div>
          </div>
        </div>
        <div class="ui-g-3">
          <div class="ui-g">
            <div class="ui-g-12">
              <label for="phone">Телефон</label>
              <p-inputMask id="phone" mask="+7 (999) 999-9999" [(ngModel)]="participantEditor.phone" [style]="{'width': '100%'}"></p-inputMask>
            </div>
            <div class="ui-g-12">
              <label for="name">Имя</label>
              <input pInputText id="name" [(ngModel)]="participantEditor.name" style="width: 100%" />
            </div>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="ui-g">
            <div class="ui-g-12">
              <label for="referrer">Кто привлек</label>
              <p-inputMask id="referrer" mask="+7 (999) 999-9999" [(ngModel)]="participantEditor.referrer" [style]="{'width': '100%'}"></p-inputMask>
            </div>
          </div>
          <div class="ui-g-12">
            <label for="comment">Комментарий</label>
            <textarea pInputTextarea class="ui-grid-col-12" [(ngModel)]="participantEditor.comment" placeholder="Введите комментарий"></textarea>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <div class="ui-g-12">
            <button pButton type="button" icon="fa-check" (click)="save()" label="Сохранить" style="float: left"></button>
            <button pButton type="button" icon="fa-close" class="ui-button-secondary" (click)="back()" label="Отмена" style="float: right"></button>
          </div>
        </div>
        <div class="ui-g-3">
          <div class="ui-g-12">
            <button *ngIf="!isNew" pButton type="button" icon="fa-trash" class="ui-button-warning" (click)="delete()" label="Удалить"
              style="float: right" [disabled]="isDeleteButtonDisabled"></button>
          </div>
        </div>
      </div>
      <p-panel header="Операции по лицевому счету" [toggleable]="true">
        <div class="ui-g">
          <div class="ui-g-2">
            <label for="l-date">Дата</label>
            <p-inputMask id="l-date"  mask="99.99.99" [(ngModel)]="operationEditor.date" placeholder="дата"></p-inputMask>
          </div>
          <div class="ui-g-2">
            <label for="amount">Сумма, руб</label>
            <input pInputText id="amount" [(ngModel)]="operationEditor.amount" type="number" style="width: 100%" />
          </div>
          <div class="ui-g-2">
            <label for="points">Баллы</label>
            <input pInputText id="points" [(ngModel)]="operationEditor.points" type="number" style="width: 100%" />
          </div>
          <div class="ui-g-6">
            <label for="comment">Комментарий</label>
            <textarea pInputTextarea class="ui-grid-col-12" [(ngModel)]="operationEditor.comment"></textarea>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <button label="{{ dt.selection ? 'Копировать' : 'Добавить' }} операцию" (click)="newLine()" type="button" pButton icon="fa-plus-circle"
              style="float:left; margin-right: 30px"></button>
            <button label="Сохранить операцию" (click)="saveLine()" [disabled]="!dt.selection" type="button" pButton icon="fa-check-circle"
              style="float:left; margin-right: 10px"></button>
          </div>
          <div class="ui-g-6">
            <button label="Удалить операцию" (click)="deleteLine()" [disabled]="!dt.selection" type="button" pButton icon="fa-minus-circle"
              style="float:left" class="ui-button-warning"></button>
          </div>
          <div class="ui-g-12">
            <p-dataTable #dt [value]="detailsTable" [responsive]="true" [paginator]="true" [loading]="loading" loadingIcon="fa-spinner"
              [rows]="maxRowsPerPage" [alwaysShowPaginator]="false" selectionMode="single" [emptyMessage]="'нет данных об операциях'"
              (onRowSelect)="onRowSelect($event)">
              <p-column field="date" header="Дата" [style]="{'text-align':'center', 'width':'9em'}"></p-column>
              <p-column field="amount" header="Сумма покупки, руб" [style]="rowStyle">
                <ng-template let-rd="rowData" pTemplate="body">
                  <span>{{ u.formatNumber(rd.amount) }}</span>
                </ng-template>
              </p-column>
              <p-column field="points" header="Бонусные баллы" [style]="rowStyle">
                <ng-template let-rd="rowData" pTemplate="body">
                  <span>{{ u.formatNumber(rd.points) }}</span>
                </ng-template>
              </p-column>
              <p-column field="comment" header="Комментарий" [style]="{'text-align':'left'}"></p-column>
            </p-dataTable>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
