<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <h2>Участники бонусной программы</h2>
      <p-dataTable
        selectionMode="single"
        [(selection)]="selectedLine"
        [responsive]="true"
        [value]="participantsList"
        [paginator]="true"
        [rows]="maxRowsPerPage"
        (onRowDblclick)="onRowDoubleClick()"
        [loading]="loading"
        loadingIcon="fa-spinner"
        [globalFilter]="gb">
        <p-column field="phone" header="Номер" [sortable]="true"></p-column>
        <p-column field="Name" header="Имя" [sortable]="true"></p-column>
        <p-column field="Comment" header="Коментарий"></p-column>
        <p-column field="Bonus" header="Бонусы" [sortable]="true" [style]="{'text-align':'right'}"></p-column>
        <p-footer>
          <div class="ui-g">
            <div class="ui-g-6">
              <button pButton
                label="Редактировать данные участника"
                (click)="onRowDoubleClick()"
                [disabled]="!selectedLine"
                type="button"
                icon="fa-pencil"
                style="float:left">
              </button>
              <button pButton
                label="Добавить участника"
                (click)="openNewParticipantForm()"
                type="button"
                icon="fa-plus"
                style="float: right">
              </button>
            </div>
            <div class="ui-g-6">
              <input #gb type="text" pInputText size="50" placeholder="значение фильтра..." style="float: right">
              <i class="fa fa-filter" style="margin: 10px 10px 0 0; float: right"></i>
            </div>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>
</div>
