<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-helper-clearfix" style="width:100%;">
        <button pButton type="button" icon="fa-chevron-left" (click)="goBack()" label="Назад" style="float: left; margin: 18px 20px 18px 16px"></button>
        <h2>Клиент <span style="font-weight: bold; margin-left: 18px">{{ participantEditor.phone }}</span></h2>
        <p-splitButton label="Действия" icon="" [model]="toDoItems"  [style]="{float:'right',margin:'-50px 0px 0px 0px'}"></p-splitButton>
      </div>
      <div class="ui-g">
        <!-- Режим только для просмотра  -->
        <div class="ui-g-12" *ngIf="readOnly" style="font-weight: bold; margin-left: 18px; font-size:larger">
            {{participantEditor.name}}<span *ngIf="!participantEditor.name">Имя не указано</span>, 
            пол {{participantEditor.sex}}<span *ngIf="!participantEditor.sex">не указан</span>, 
            {{participantEditor.age}}<span *ngIf="participantEditor.age"> лет, </span> 
            дата рождения {{participantEditor.birthDate}} <span *ngIf="!participantEditor.sex">не указана</span> 
        </div>
        <!-- Режим для редактирования  -->
        <div *ngIf="!readOnly">  
          <div class="ui-g-6">
            <label for="name">Имя</label>
            <input pInputText id="name" [(ngModel)]="participantEditor.name" style="width: 100%" />
          </div>
          <div class="ui-g-3">
            <label for="sex">Пол</label>
            <p-dropdown id="sex" [(ngModel)]="participantEditor.sex" [options]="sexOptions"></p-dropdown> 
          </div>
          <div class="ui-g-3">
            <label for="date">Дата рождения</label>
            <p-calendar dateFormat="dd.mm.yy"  [(ngModel)]="participantEditor.birthDate" [locale]="ru" dataType="string" [yearNavigator]="true" yearRange="1920:2020"></p-calendar>
          </div>
        </div>

        <div class="ui-g-12">
              <label for="comment">Комментарий</label>
              <textarea pInputTextarea class="ui-grid-col-12" [(ngModel)]="participantEditor.comment" placeholder="Введите комментарий"></textarea>
          </div>      
          <div class="ui-g-3">
              Дата регистрации: {{participantEditor.date}}
          </div>      
          <div class="ui-g-6">
              Кто привлек: {{participantEditor.referrer}}
          </div>      
        </div>
        <!-- Режим редактирования  -->
      
      <div class="ui-g">
        <div class="ui-g-3">
          <button pButton type="button" icon="fa-check" (click)="save()" label="Сохранить" style="float: left"></button>
        </div>
        <div class="ui-g-3">
          <button pButton type="button" icon="fa-close" class="ui-button-secondary" (click)="goBack()" label="Отменить" style="float: right"></button>
        </div>
      </div>
      
      <p-tabView>
          <p-tabPanel header="История покупок">
              <!--
              <div *ngIf="!readOnly">  
                <div class="ui-g">
                
                  <div class="ui-g-2">
                    <label for="l-date">Дата</label>
                    <p-inputMask id="l-date"  mask="99.99.99" [(ngModel)]="operationEditor.date" placeholder="дата"></p-inputMask>
                  </div>
                  <div class="ui-g-2">
                    <label for="amount">Сумма, руб</label>
                    <input pInputText id="amount" [(ngModel)]="operationEditor.amount" type="number" style="width: 100%" />
                  </div>
                  <div class="ui-g-2">
                    <label for="points">Баллы</label>
                    <input pInputText id="points" [(ngModel)]="operationEditor.points" type="number" style="width: 100%" />
                  </div>
                  <div class="ui-g-6">
                    <label for="comment">Комментарий</label>
                    <textarea pInputTextarea class="ui-grid-col-12" [(ngModel)]="operationEditor.comment"></textarea>
                  </div>
                </div>
              </div>
            -->
              <div class="ui-g">
              <!--
                <div *ngIf="!readOnly">
                  <div class="ui-g-6">
                    <button label="{{ dt.selection ? 'Копировать' : 'Добавить' }} операцию" (click)="newLine()" type="button" pButton icon="fa-plus-circle"
                      style="float:left; margin-right: 30px"></button>
                    <button label="Сохранить операцию" (click)="saveLine()" [disabled]="!dt.selection" type="button" pButton icon="fa-check-circle"
                      style="float:left; margin-right: 10px"></button>
                  </div>
                  <div class="ui-g-6">
                    <button label="Удалить операцию" (click)="deleteLine()" [disabled]="!dt.selection" type="button" pButton icon="fa-minus-circle"
                      style="float:left" class="ui-button-warning"></button>
                  </div>
                </div>
              -->
                <div class="ui-g-12">
                  <p-dataTable #dt [value]="detailsTable" [responsive]="true" [paginator]="true" [loading]="loading" loadingIcon="fa-spinner"
                    [rows]="maxRowsPerPage" [alwaysShowPaginator]="false" selectionMode="single" [emptyMessage]="'нет данных об операциях'"
                    (onRowSelect)="onRowSelect($event)">
                    <p-column field="date" header="Дата" [style]="{'text-align':'center', 'width':'9em'}"></p-column>
                    <p-column field="amount" header="Сумма покупки, руб" [style]="rowStyle">
                      <ng-template let-rd="rowData" pTemplate="body">
                        <span>{{ u.formatNumber(rd.amount) }}</span>
                      </ng-template>
                    </p-column>
                    <p-column field="points" header="Бонусные баллы" [style]="rowStyle">
                      <ng-template let-rd="rowData" pTemplate="body">
                        <span>{{ u.formatNumber(rd.points) }}</span>
                      </ng-template>
                    </p-column>
                    <p-column field="comment" header="Комментарий" [style]="{'text-align':'left'}"></p-column>
                  </p-dataTable>
                </div>
              </div>
            </p-tabPanel>
        <p-tabPanel header="Отчет о клиенте">
            <div class="ui-g">
                <div class="ui-g-2">
                    <span>Текущий баланс: </span><br>
                    <span style="font-size: 1.5em; font-weight: bold">{{ participantEditor.balance }}</span>
                </div>
                <div class="ui-g-2">
                    <span>Ранг: </span><br>
                    <span style="font-size: 1.5em; font-weight: bold"></span>
                </div>
                <div class="ui-g-2">
                    <span>Потрачено рублей: </span><br>
                    <span style="font-size: 1.5em; font-weight: bold">{{ participantEditor.payRubSum }}</span>
                </div>
                <div class="ui-g-2">
                    <span>Потрачено бонусов: </span><br>  
                    <span style="font-size: 1.5em; font-weight: bold">{{participantEditor.payBonus}}</span>
                </div>
                <div class="ui-g-4">
                    <span>Сколько человек привлек: </span><br> 
                    <span style="font-size: 1.5em; font-weight: bold">{{participantEditor.attractedCount}}</span>
                </div>
              </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
<p-dialog header="Начислить бонусы" [(visible)]="displayPlusBonusDialog" [width]="300">
  <div class="ui-g">
    <div class="ui-g-12">
      <label for="plusBonusDate">Дата начисления</label>
      <p-calendar dateFormat="dd.mm.yy"  [(ngModel)]="plusBonusEditor.onDate" [locale]="ru" dataType="string" [yearNavigator]="true" yearRange="1920:2020"></p-calendar>
    </div>
    <div class="ui-g-12">
      <label for="name">Количество бонусов</label>
      <input pInputText [(ngModel)]="plusBonusEditor.bonusSum" style="width: 100%" />
    </div>
    <div class="ui-g-12">
        <label for="name">Комментарий</label>
        <input pInputText [(ngModel)]="plusBonusEditor.comment" style="width: 100%" />
      </div>
  </div>
  <p-footer>
      <button type="button" pButton icon="fa-check" (click)="doPlusBonus();" label="Начислить"></button>
      <button type="button" pButton icon="fa-close" (click)="displayPlusBonusDialog=false" label="Отмена"></button>
  </p-footer>
</p-dialog>

