<p-accordionTab>
  <p-header>
    <span style="font-weight: bold">{{ purchase.date | date:'shortDate' }}</span>
    <span style="margin-left: 1.2em; margin-right: 1.2em;">{{ purchase.shop }}</span>
    <span style="font-weight: bold; float: right">{{ purchase.points }}&nbsp;баллов</span>
  </p-header>
  <p-accordion *ngIf="isTestimonialFormVisible" [activeIndex]="tabIndex">
    <p-accordionTab header="Отзыв о покупке">
      <textarea pInputTextarea [(ngModel)]="testimonialText" style="width: 100%; min-height: 100px; margin-bottom: 10px" placeholder="Напишите ваш отзыв здесь">
      </textarea>
      <button pButton type="button" icon="fa fa-envelope-o" label="Отправить отзыв" style="width: 100%" (click)="postTestimonial()">
      </button>
    </p-accordionTab>
  </p-accordion>
  <div class="ui-g">
    <div class="ui-g-4">
      Оценка: {{ purchase.rating }}
    </div>
    <div class="ui-g-4">
      <p-rating [(ngModel)]="purchase.rating" (onRate)="changeRating()" [cancel]="false"></p-rating>
    </div>
    <div class="ui-g-4">
      <a style="font-weight: bold; float: right; cursor: pointer;" (click)="toggleTestimonialForm()">Написать отзыв</a>
    </div>
  </div>
  <p-accordion>
    <p-accordionTab [header]="purchase.detailsSummary">
      <table style="width: 100%">
        <tr *ngFor="let det of purchase.details">
          <td style="border-bottom: 1px dashed grey; padding-top: 10px;">{{ det.article }}</td>
          <td style="border-bottom: 1px dashed grey; text-align: right; padding-top: 10px;">{{ det.money }}&nbsp;руб</td>
        </tr>
      </table>
    </p-accordionTab>
  </p-accordion>
</p-accordionTab>
