<div class="card">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2 style="margin-bottom: 10px">Вход в личный кабинет</h2>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <p-inputMask [(ngModel)]="phone" mask="+7 (999) 999-9999" [style]="{'width': '100%'}" placeholder="телефонный номер" (onComplete)="isPhoneEntered=true;"></p-inputMask>
    </div>
    <div class="ui-g-12 ui-md-6">
      <button pButton type="text" icon="fa fa-envelope-o" label="Получить SMS с кодом" (click)="requestSMS()" style="width: 100%" [disabled]="!isPhoneEntered"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p style="font-weight: bold; color: navy;">Введите номер Вашего телефона,
        <br>после получения SMS введите код.</p>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <p-inputMask [(ngModel)]="code" mask="9999" placeholder="код из SMS" [style]="{'width': '100%'}" (onComplete)="isCodeEntered=true;"></p-inputMask>
    </div>
    <div class="ui-g-12 ui-md-6">
      <app-button-with-spinner icon="fa fa-check" label="Подтвердить" (click)="confirmCode()" [style]="{'width': '100%'}" [disabled]="!(isCodeEntered && isPhoneEntered)"></app-button-with-spinner>
    </div>
  </div>
</div>
